@tailwind base;
@tailwind components;
@tailwind utilities;

[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* React DatePicker Dark Mode Overrides */
.react-datepicker {
  font-family: inherit;
  background-color: #111827;
  /* gray-900 */
  border-color: #374151;
  /* gray-700 */
  color: white;
}

.react-datepicker__header {
  background-color: #1f2937;
  /* gray-800 */
  border-bottom-color: #374151;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #e5e7eb;
  /* gray-200 */
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #374151;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #7c3aed !important;
  /* purple-600 */
  color: white;
}

.react-datepicker__time-container {
  border-left-color: #374151;
}

.react-datepicker__time-container .react-datepicker__time {
  background-color: #111827;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  color: #e5e7eb;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  background-color: #374151;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #7c3aed !important;
}